[Unit]
Description=piccolo-perf Prometheus Exporter
After=network-online.target {{ mesh_vpn_services | join(' ') }}
Wants=network-online.target {{ mesh_vpn_services | join(' ') }}

[Service]
ExecStart={{ piccolo_perf_binary_path }} twamp \
  -mode exporter \
  -config-url {{ piccolo_perf_config_url }} \
  -probe-mode {{ piccolo_perf_probe_mode }} \
  -metrics-addr [::]:{{ piccolo_perf_metrics_port }} \
  -metrics-tls-cert {{ piccolo_perf_tls_dir }}/fullchain.pem \
  -metrics-tls-key {{ piccolo_perf_tls_dir }}/privkey.pem
Restart=on-failure
RestartSec=10s
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true
DynamicUser=yes
SupplementaryGroups={{ piccolo_perf_cert_group }}

[Install]
WantedBy=multi-user.target
