{% if firewall_mode == 'interface' %}
table inet piccolo_fleet_config {
  set allowed_ifaces {
    type ifname
    elements = { lo, {{ allowed_mesh_ifaces | join(', ') }} }
  }

  chain input {
    type filter hook input priority filter; policy accept;
    iifname @allowed_ifaces accept
    tcp dport {{ config_server_port }} drop
  }
}
{% elif firewall_mode == 'source_prefix' %}
table inet piccolo_fleet_config {
  set allowed_sources {
    type ipv6_addr
    flags interval
    elements = { {{ allowed_source_prefixes | join(', ') }} }
  }

  chain input {
    type filter hook input priority filter; policy accept;
    ip6 saddr @allowed_sources accept
    tcp dport {{ config_server_port }} drop
  }
}
{% endif %}
