[Unit]
Description=Prometheus
After=network-online.target {{ mesh_vpn_services | join(' ') }}
Wants=network-online.target {{ mesh_vpn_services | join(' ') }}

[Service]
User=prometheus
Group=prometheus
ExecStart={{ prometheus_binary_path }} \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --web.listen-address=[::]:{{ prometheus_web_port }} \
  --web.config.file={{ prometheus_config_dir }}/web.config.yml
Restart=on-failure
RestartSec=10s
NoNewPrivileges=true
ProtectSystem=strict
ReadWritePaths={{ prometheus_data_dir }}
ProtectHome=true

[Install]
WantedBy=multi-user.target
